.section-title,
.section-title-name,
.section-title-photos {
    color: var(--titile-text-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

/* portfolio photos */
.photo-nav.list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.photo-nav .item + .item {
    margin-left: 8px;
}

.section-title-photos {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.section-title-photos-career {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.list-photos {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.list-photos .item {
    width: 370;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 0;
    display: block;
}

.container-photo-text {
    border: 1px solid #EEEEEE;
    border-top: transparent;
    padding: 20px 24px;
}

.portfolio-link {
    display: block;
    text-decoration: none;
}

.item.portfolio {
    box-shadow: none;
    transition: box-shadow var(--transition-duration) var(--overlay-cubic);
}

.item.portfolio:hover,
.item.portfolio:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item.portfolio:hover .portfolio-img-overlay,
.item.portfolio:focus .portfolio-img-overlay {
    transform: translateY(0);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.556;
    color: var(--white-text-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--overlay-cubic);
}

/* buttons */
.button.photo-nav {
    color: var(--titile-text-color);
    background-color: var(--button-bg-color); 
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    display: block;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 22px;
    transition: color var(--transition-duration) var(--overlay-cubic),
    background-color var(--transition-duration) var(--overlay-cubic),
    box-shadow var(--transition-duration) var(--overlay-cubic);
}

.button.photo-nav:hover,
.button.photo-nav:focus {
    color: var(--white-text-color);
    background-color: var(--focus-button-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.photo-nav.primary {
    color: var(--white-text-color);
    background-color: var(--focus-button-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}







