.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 5.875rem 0;
}

.link,
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer,
.hero {
    background-color: #2F303A;
}

body {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    bottom: 0;
}

.button {
    color: $white-text-color;
    background-color: $focus-button-bg-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    transition: background-color $transition-duration $overlay-cubic;
}

.button:hover,
.button:focus {
    background-color: $focus-button-bg-color-order;
}